@tailwind base;
@tailwind components;
@tailwind utilities;


@media(min-width: 820px) {
  .post__related-list_news {
    display:flex;
  }

  .post__related-list_news a.news-card {
    width: 33%;
    margin-right: 15px;
  }
}
